.film-image {
    height: 100%; /* L'immagine occupa tutta l'altezza del contenitore */
    width: 100%;  /* L'immagine occupa tutta la larghezza del contenitore */
    object-fit: contain; /* Mantiene le proporzioni e ritaglia se necessario */
  }

  /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .film-image {
        height: 170px; 
        
      }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
   
    .film-image {
        height: 240px; 
        
      }

 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
   

    .film-image {
        height: 325px; 
        
      }

    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .film-image {
        height: 400px; 
        
      }
}

@media (min-width: 1400px) { .film-image {
    height: 480px; 
    
  }
}